{% extends "base.html" %}
{% block content %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Envio {{ object.slug }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Respuesta API Enviame</h6>
    {% if object.response %}
    <p class="card-text">{{ object.response }}</p>
    {% else %}
    <p class="card-text">Sin respuesta de API</p>
    {% endif %}
    <a href="{% url 'envios' %}" class="card-link">Volver lista de envios</a>
    <br>
    <a href="{% url 'crear' %}" class="card-link">Crear un nuevo envio</a>
  </div>
</div>

{% endblock content %}
